html {
    background-color: lightgray;
}
p {
    color: blue;
}

ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 150px;
    margin-left: 45px;
}

nav li a{
    color: black;
}
nav li a:hover {
    color: orange;
}

.btn {
    color: blue
}

.navbar-style {
    list-style-type: none;

}
#header-img {
    width: 150px;
}

#form {
    color: black;
  
}

#form-paragraph {
    align-items: center;
}

#nav-bar {
    background-color: lightblue;
    display: flex;
    align-items: center;
    
}

@media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }